html {
	height: 100%;
}

body {
	background: no-repeat center fixed url('../image/bg.jpg');
	background-size: cover;
}

.full-wrapper {
	max-width: 1280px;
	background-color: #ffffff94;
	margin: 0 auto;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 0 60px;
}

.header,
section,
.footer {
	padding: 40px 0;
}

* {
	font-family: "Winky Rough", sans-serif;
	color: rgb(51, 9, 26);
}

h2 {
	font-size: 36px;
	font-weight: 500;
	text-decoration: underline;
	margin-bottom: 50px;
}