.header {
	margin-bottom: 20px;
}

.header > * {
	padding-top: 20px;
}

.header-left {
	display: flex;
	justify-content: flex-end;	
}

.header-left__img_container {
	max-width: 70px;
}

.header-left__img {
	width: 100%;	
}

.header-right__ul {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
}

.header-right__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 42px;
	color: #000000;
  font-weight: 500;
  font-size: 17px;
	border: 1px #00ffe548 solid;
  border-radius: 10px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.header-right__link:hover {
	color: #252525;
	background-color: #00ffe528;
	background-size: 100% 2px;
}	

@media (max-width: 1170px) {
	.header-right__ul {
		max-width: 100px;
		flex-direction: column;
		gap: 10px;
		justify-content: flex-start;
		align-items: center;
		padding: 0;
		margin: 0 auto;
	}
}

@supports(-webkit-mask-image: url(#mask)) {
	@keyframes nav-bg {
		0% {
			background-position: 0;
		}
		100% {
			background-position: 600px;
		}
	}

  .header-right__ul {
		background: linear-gradient(90deg, rgba(16, 237, 210, 0.85) 0%, 
		rgba(16, 224, 237, 0.85) 2.65%, 
		rgba(158, 34, 233, 0.85) 50%,
		rgba(16, 224, 237, 0.85) 97.35%, 
		rgba(16, 237, 210, 0.85) 100%);
		animation: nav-bg 2s infinite alternate ease-in-out;
		-webkit-mask-image: url('../mask/nav-mask.svg');
		-webkit-mask-size: 100px 42px;
		-webkit-mask-repeat: space;
		-webkit-mask-position: center;	
	}

	.header-right__link {
		border: none;
	}

	@media (max-width: 1170px) {
		@keyframes nav-bg {
			0% {
				background-position: 0;
			}
			100% {
				background-position: 100px;
			}
		}
	}
}