.main-right {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.main-right__title {
	text-transform: uppercase;
  color: #4b4b4b;
  font-weight: 500;
  font-size: 26px;
	text-align: center;
	margin-top: 50px;
}

.right_title {
	color: #8A30CD;
	font-weight: 500;
	font-size: 23px;
	margin-bottom: 30px;
	padding-left: 73px;
	position: relative;
}

.right_title::after {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	content: '';
	width: 45px;
	height: 45px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.main-right__eductaion_title::after {
	background-image: url('../icon/edu.svg');
}

.main-right__works_title::after {
	background-image: url('../icon/works.svg');
}

.main-right__code_title::after {
	background-image: url('../icon/code.svg');
}

.line_container {
	padding-left: 22px;
	display: flex;
}

.line_item {
	min-height: 100%;
	width: 2px;
	border-left: dashed #7D7E7F 0.2px;
	margin-right: 50px;
}

.main-right__eductaion_content_info {	
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.right_contents {
	padding: 4px 0;
}

.main-right__eductaion_content_info_item {
	display: flex;
	flex-direction: column;
	gap: 7px;
	font-size: 15px;
}

.main-right__eductaion_content_info_item__title {
	color: #000000;
	font-weight: 500;	
}

.main-right__eductaion_content_info_item__stages {
	font-size: 0.8em;
	color: #7D7E7F;
}

.main-right__eductaion_content_info_item__location {
	font-size: 0.6rem;
	color: #7D7E7F;
}

.main-right__works_content_projects {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}

.main-right__works_content_project_link {
	display: block;
	width: 120px;
	height: 140px;
	overflow: hidden;
	border-radius: 10px;
	background-color: #8911e675;
	transition: .3s;
}

.main-right__works_content_project_link:hover {
	background-color: #00ffe534;
}

.main-right__works_content_project_link__image {
	width: 100%;
	height: 120px;
	background-size: cover;
}

.horror_project .main-right__works_content_project_link__image {
	background-image: url('../img/horror-project.png');
}

.css-bayan .main-right__works_content_project_link__image {
	background-image: url('../img/css_bayan.png');
}

.my-cv .main-right__works_content_project_link__image {
	background-image: url('../img/avatar.jpg');
}

.main-right__works_content_project_link > .main-right__works_content_project_link__title,
.main-right__works_content_project_link:visited > .main-right__works_content_project_link__title,
.main-right__works_content_project_link:active > .main-right__works_content_project_link__title {
	color: #000000;	
}

.main-right__works_content_project_link__title {
	font-weight: 500;
	text-align: center;
	padding-top: 2px;
}

.main-right__code_content {
	width: 100%;
	box-shadow: #10EDD2 0 0 10px;
	padding: 20px;
	color: #7D7E7F;
	font-size: 16px;
	font-weight: 400;
  line-height: 19px;
	overflow: auto;
}

@media (max-width: 930px) {
	.main-right {
		padding-right: 30px;
	}
}