/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {
	outline: none;
}	
a:focus, a:active {
	outline: none;
}
nav, footer, header, aside {
	display: block;
}
html, body {
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {
	font-family:inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size:inherit;
	font-weight: 400;
}
/*Конец обнуления*/

body {
	position: relative;
}

.bg__flex {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: flex;	
}

.bg__flex > div:first-child {
	background: linear-gradient(180deg, rgba(16, 237, 210, 0.85) 0%, rgba(16, 224, 237, 0.85) 5.33%, rgba(158, 34, 233, 0.85) 100%);
	width: calc(50% - 104px);
}

.bg__flex > div:last-child {
	background-color: #FFFFFF;
	width: calc(50% + 104px);
}

.body__container {
	width: 1000px;
	margin: 0 auto;
	font-family: Roboto;
	font-weight: 400;
	text-align: justify;
	line-height: 19px;
	position: relative;
	z-index: 1;
}

.main {
	display: flex;
}

.left-side {
	width: 39.6%;	
	padding: 42px;
	padding-right: 32px;
	color: #eceaea;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right-side {
	background-color: #FFFFFF;
}

.ava {
	width: 250px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	margin-bottom: 36px;
}

.about-me {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
}

.about__h {
	font-weight: 500;
	margin-bottom: 20px;
	font-size: 23px;
}

.about__p {
	font-size: 16px;
}

.contact__h {
	font-size: 23px;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact__li {
	font-size: 16px;
	margin-bottom: 11px;
	display: flex;
	align-items: center;
}

.contact__li:last-child {
	margin-bottom: 0;
}

.contact__li > a {
	color: #eceaea;
	background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.contact__li > a:hover {
	background-size: 100% 2px;
}

.contact__li > img {
	width: 25px;
	margin-right: 13px;
}

.skills__h {
	font-size: 23px;
	font-weight: 500;
	margin-bottom: 20px;
}

.skills__text {
	font-size: 16px;
}

.skills__li {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pr-bar {
	width: 170px;
	height: 14px;
	border: solid #10EDD2 2px;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.pr-bar > span {
	display: inline-block;
	height: 10px;
	border-radius: 3px;
	background-color: #eceaea;
}

.HTML {
	width: 95%;
}

.Figma {
	width: 80%;
}

.CSS {
	width: 90%;
}

.JS {
	width: 15%;
}

.Marvel {
	width: 98%;
}

.Memes {
	width: 100%;
}

.English {
	width: 25%;
}

.skills__li:last-child {
	margin-bottom: 35px;
}

.interests__h {
	font-size: 23px;
	font-weight: 500;
	margin-bottom: 20px;
}

.interests__p {
	font-size: 16px;
	margin-bottom: 23px;
}

.right-side {
	color: #7D7E7F;
	padding: 70px 42px 32px 109px;
	width: 60.4%;
}

h1 {
	text-transform: uppercase;	
	color: #4b4b4b;
	font-weight: 500;
	font-size: 26px;	
}

.right__h {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
}

.right__content h3 {
	color: #8A30CD;
	font-weight: 500;
	font-size: 23px;
	margin-bottom: 30px;
}

.edu__text h4 {
	color: #000000;
	font-weight: 500;
}

.edu__text p {
	font-size: 0.95rem;
}

.edu__text p:last-child {
	font-size: 0.7rem;
	margin-bottom: 10px;
}

section {
	margin-bottom: 30px;
}

.tasks__flex {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.tasks__item img {
	width: 120px;
}

.tasks__flex a {
	border-radius: 7px;
	overflow: hidden;
	background-color: #8930cd3d;
	color: #000000;
	font-weight: 500;
	font-size: 1.1rem;
}

.tasks__flex a:hover {
	background-color: #00ffe534;
}

.tasks__flex p {
	text-align: center;
}

.code__text {
	box-shadow: #10EDD2 0 0 10px;
	padding: 0 19px ;
}

section:last-child {
	margin-bottom: 12px;
}

.header {
	display: flex;
	justify-content: space-between;	
}

.logo img {
	width: 70px;
	margin-left: auto;
	margin-right: 0;
	display: block;
}

.logo {
	width: 395px;
}

.nav ul {
 display: flex;
}

.nav li {
	padding-top: 22px;
}

.nav a {
	padding: 22px;
	color: #000000;
	font-weight: 500;
	font-size: 17px;
	border-radius: 10px;
	background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.nav a:hover {
	color: #252525;
	background-color: #00ffe510;
	background-size: 100% 2px;
}

.footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0 42px 15px 34px;
}

.footer img {
	height: 40px;
	width: auto;		
}

.git {
	transform: rotate(-360deg);
	transition: transform .7s ease-in-out;
}

.git:hover {
	transform: rotate(360deg);
	transition: transform .7s ease-in-out;
}

@keyframes rssScale {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

.rss:hover {
	animation: rssScale .7s ease-in-out 1;
}

.right__before, .rtext__before {
	position: relative;
}

.right__before::before {
	content: "";
	display: block;
	width: 45px;
	height: 45px;
	position: absolute;
	top: -13px;
	left: -77px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.edu__h::before {
	background-image: url("../img/edu.svg");
}

.tasks__h::before {
	background-image: url("../img/works.svg");
}

.code__h::before {
	background-image: url("../img/code.svg");
}

.rtext__before::before {
	content: "";
	display: block;
	width: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -54.5px;
	border-left: dashed #7D7E7F .2px;
}